html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    font-size: 200%;
    color: navy;
    text-align: center;
}

h2 {
    font-size: 150%;
    color: red;
    padding-left: 15px;
}

p,
ul,
li,
td {
    color: black;
}

a:link {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active,
a:focus {
    color: red;
}

.page {
    background-color: gray;
    p {
        color: $color;
    }
}

// Flexbox
h2 {
    text-align: center;
}

.flexbox {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #f76707;
    border-radius: 5px;
    // background-color: #fff4e6;
    div {
        flex: 1 1 150px;
        border: 2px solid #ffa94d;
        border-radius: 5px;
        background-color: #ffd8a8;
        padding: 5em;
        color: #d9480f;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.grid {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #28abb9;
    border-radius: 5px;
    background-color: #fff4e6;
    div {
        border: 2px solid #ffa94d;
        border-radius: 5px;
        background-color: #28abb9;
        padding: 5em;
        color: #14274e;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.flex1 {
    display: flex;
    align-items: flex-end;
    min-height: 500px;
    border: 2px solid #f76707;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #fff4e6;
    .box1 {
        align-self: stretch;
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #d9480f;
    }
    .box2 {
        align-self: flex-start;
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #d9480f;
    }
    .box3 {
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #d9480f;
    }
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-auto-rows: 500px;
    border: 2px solid #28abb9;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #fff4e6;
    .box1 {
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #14274e;
        align-self: stretch;
    }
    .box2 {
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #14274e;
        align-self: start;
    }
    .box3 {
        border: 2px solid #ffa94d;
        border-radius: 5px;
        padding: 5em;
        color: #142
    }
}